main div.category{
    
    margin: 84px 10px 84px 0px;
    
}


main div.category h1.type-category{

    font-size: 25px;
    font-family: "Kumbh Sans", sans-serif;
    font-weight: 300;
    font-style: normal;
    padding-bottom: 30px;
    margin-left: 920px;

}