main div.category{
    
    margin: 84px 10px 84px 0px;
    
}


main div.category h1.type-category{

    font-size: 25px;
    font-family: "Kumbh Sans", sans-serif;
    font-weight: 300;
    font-style: normal;
    padding-bottom: 30px;
    margin-left: 920px;

}


/* @media only screen and (min-width:1260px) and (max-width:1366px) and (orientation: landscape){

    main div.category{

        display: flex;
        flex-direction: column;
        justify-content: center;

    } 

    main div.category h1.type-category{

        font-size: 15px;
        margin-left: 640px;

    }

}

@media only screen and (min-width:1367px) and (max-width:1440px) and (orientation: landscape){

    main div.category{

        display: flex;
        flex-direction: column;
        justify-content: center;

    } 

    main div.category h1.type-category{

        font-size: 22px;
        margin-left: 640px;

    }

} */

@media only screen and (min-width:1441px) and (max-width:1920px) and (orientation: landscape){

    main div.category{

        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 150px;

    } 

    main div.category h1.type-category{

        font-size: 22px;
        margin-left: 760px;


    }

}
