body{
    background-image: url(../imagens/background-login.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: white;
}

main{
    display: grid;
    grid-template-columns: repeat(14, 100px);
    grid-template-rows: repeat(10, 50px);
}

main div#black-box{
    width: 500px;
    height: 532px;
    background-color: black;
    opacity: 70%;
    grid-column: 2/14;
    grid-row: 1/10;
    margin-left: 400px;
    margin-top: 100px;
    border-radius: 30px 30px 0px 0px;
}

main div#info-box{
    z-index: 1;
    grid-column: 6/14;
    grid-row: 3/10;
    width: 450px;
    height: 500px;
    margin-top: 30px;
}

main div#info-box h1{
    padding: 30px;
    margin: 100px 0px 60px 170px;
    font-size: 18px;
    font-weight: 300;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
}

main div#info-box input#email-user{
    width: 300px;
    height: 20px;
    margin-left: 80px;
    margin-bottom: 50px;
    font-size: 12px;
    background-color: #333;
    border: none;
    text-align: center;
    color: white;
}

main div#info-box input#password-user{
    width: 300px;
    height: 20px;
    margin-left: 80px;
    margin-bottom: 50px;
    font-size: 12px;
    background-color: #333;
    border: none;
    text-align: center;
    color: white;
}


main div#info-box input#email-user, input#password-user:focus{
    outline: none;
}

main div#info-box button{
<<<<<<< HEAD
    background-color: #0343A3;
    width: 300px;
    height: 20px;
    margin-left: 80px;
    margin-bottom: 30px;
    font-size: 12px;
=======

    color: white;
>>>>>>> 3822163f90556a3b2015089d0e1b168831d27942
    border: none;
    text-align: center;
    color: white;
    cursor: pointer;
    transition: all 0.08s ease;
}

main div#info-box button:active{
    transform: translateY(0.1vh);
}

main div#info-box span#space_between{
    display: flex;
    justify-content: space-between;
}

main div#info-box span#space_between div#input-check{

    margin-left: 80px;
}

main div#info-box span#space_between div#input-check label{
    font-size: 12px;
    font-weight: 300;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
}

main div#info-box span#space_between a{
    text-decoration: none;
    color: white;
    font-size: 12px;
    font-weight: 300;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    margin-right: 70px;
    transition:0.5s ease;
}

main div#info-box span#space_between a:hover{
    text-decoration: underline;

}

@media only screen and (max-width: 640px) and (orientation: landscape){
    
    main div#black-box{

<<<<<<< HEAD
        width: 10px;

    }

=======
        width: 700px;
        height: 850px;
        grid-column: 6/14;
        grid-row: 2/10;
        margin-left: 180px;
        margin-top: 95px;

    }

    main div#info-box{

        z-index: 1;
        grid-column: 8/14;
        grid-row: 3/10;
        width: 670px;
        height: 500px;
        margin-top: 200px;
        margin-left: 20px;

    }

    main div#info-box h1{

        font-size: 25px;
        margin-left: 230px;
        margin-bottom: 170px;

    }

    main div#info-box input#email-user{

        width: 450px;
        height: 35px;
        margin-left: 80px;

    }

    main div#info-box input#password-user{

        width: 450px;
        height: 35px;
        margin-left: 80px;

    }
   
    main div#info-box button{

        width: 450px;
        height: 35px;
        margin-left: 80px;
        background-color: #0343A3;

    }

    main div#info-box input#email-user{

        margin-bottom: 80px;

    }

    main div#info-box span#space_between div#input-check{

        margin-left: 80px;

    }

    main div#info-box span#space_between div#input-check label{
        
        font-size: 12px;
        font-weight: 300;
        font-family: "Montserrat", sans-serif;
        font-style: normal;
    
    }

    main div#info-box span#space_between a{

        margin-right: 140px;

    }
    
>>>>>>> 3822163f90556a3b2015089d0e1b168831d27942
}